.homeChildren{
    grid-gap: 10px;
    display: grid;
}

.homeContainer{
    height: 250px;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

    &__icon{
        width: 85%;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
}

.repoContainer{
    display: grid;
    grid-gap: 10px;
    max-height: 400px;
    overflow: scroll;
}

.logOut{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

    h3{
        cursor: pointer;
    }
}
